LOKI_URL_DEV=https://<dev-loki-host>/api/datasources/proxy/<data-source-id>
LOKI_URL_PROD=https://<prod-loki-host>/api/datasources/proxy/<data-source-id>

LOKI_USER_DEV=<dev-user>
LOKI_PASS_DEV=<dev-pass> 

LOKI_USER_PROD=<prod-user>
LOKI_PASS_PROD=<prod-pass>